<div class="container">
  <a href="/dashboard" class="btn btn-secondary mb-3">&larr; Back</a>
<div class="admin-title mb-4">
  <h2>View / Edit Post</h2>

  <form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST" class="d-inline">
    <input type="submit" value="Delete" class="btn btn-danger">
  </form>

</div>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="POST" class="needs-validation" novalidate>
  <div class="mb-3">
    <label for="title" class="form-label"><b>Title</b></label>
    <input type="text" class="form-control" id="title" name="title" placeholder="Post Title" value="<%= data.title %>" required>
    <div class="invalid-feedback">
      Please provide a post title.
    </div>
  </div>

  <div class="mb-3">
    <label for="body" class="form-label"><b>Content</b></label>
    <textarea class="form-control" id="body" name="body" cols="50" rows="10" required><%= data.body %></textarea>
    <div class="invalid-feedback">
      Please provide content for the post.
    </div>
  </div>

  <button type="submit" class="btn btn-primary">Update</button>
</form>
</div>