<header>
    <nav class="navbar navbar-expand-lg navigation-wrap">
        <div class="container">
            <a class="navbar-brand" href="#">
                <h3 class="nodebaba">Adoughrable.online</h3>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-stream navbar-toggler-icon"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">   Contact</a>
                    </li>
                    <ul class="nav  header_Button">
                        <li class="nav-item">
                            <button class="main-btn  searchBtn" aria-expanded="false">
                                Search <i class="fas fa-search"></i>
                            </button>
                        </li>
                    </ul>
                </ul>
            </div>
        </div>
    </nav>
</header>