<div class="container">
    <div class=" searchBar">
        <form action="/search" class="px-2 search_form" role="search" method="post">
            <input type="search" aria-label="search" id="searchInput" name="searchTerm" placeholder="Search the site">
        </form>
        <div id="searchClose"></div>
    </div>
</div>