<div class="container">
    <div class="searchBar">
        <form action="/search" class="px-2 search_form" role="search" method="POST">
            <input type="search" aria-label="search" id="searchInput" name="searchTerm" placeholder="Search the site.....">

        </form>
      
    </div>
    <div class="" id="searchClose">close</div>
</div>