<section>
    <div class="container ">
        <div class="row justify-content-center text-center">
            <div class="col-lg-9 col-md-12 ">
                <h2>Hi, I am Sandeep</h2>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-lg-9 col-md-12 ">
                <h5>Web Developer</h5>
            </div>
        </div>
        <div class="row justify-content-center text-center">
            <div class="col-lg-9 col-md-12">
                <img src="/img/hero-image.webp" alt="person looking out through window" class="img-fluid">
            </div>
        </div>
        <div class="row justify-content-center latest-posts">
            <div class="col-lg-9 col-md-12">
                <h3>Latest Posts</h3>
                <ul>
                    <% data.forEach(post => { %>
                 
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <a class="nav-link active w-100" aria-current="page" href="#">
                                <div class="d-flex justify-content-between w-100">
                                    <div><%= post.title %></div>
                                    <div class="text-end"><%= new Date(post.createdAt).toLocaleString() %></div>
                                </div>
                            </a>
                        </li>
                    <% }) %>
                </ul>
                <a class="nav-link active" aria-current="page" href="#">
                    &lt; View Older Posts
                </a>
            </div>
        </div>
    </div>
</section>